* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0a0a0f;
}

html.light body {
  background-color: #f7fafc;
}

html.dark body {
  background-color: #0a0a0f;
}

#root {
  min-height: 100vh;
}
